@import "../../styles//variables";
// .loading-page {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(255, 255, 255, 0.9);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 9999;
//     opacity: 0;
//     animation: fadeIn 0.3s ease-in forwards;

//     .loading-content {
//       text-align: center;

//       .loading-gif {
//         width: 60px; // Adjust based on your GIF size
//         height: auto;
//       }

//       .loading-text {
//         margin-top: 20px;
//         font-size: 1.2rem;
//         color: #333;
//       }
//     }
//   }

//   @keyframes fadeIn {
//     to { opacity: 1; }
//   }
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
  .spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
  }

  .double-bounce1,
  .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $primary-color;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }

  @-webkit-keyframes sk-bounce {
    0%,
    100% {
      -webkit-transform: scale(0);
    }
    50% {
      -webkit-transform: scale(1);
    }
  }

  @keyframes sk-bounce {
    0%,
    100% {
      transform: scale(0);
      -webkit-transform: scale(0);
    }
    50% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}
