@import "../../../styles/variables";
// .circle-card {
//   width: 100%; /* You can adjust */
// }

// .circle-image {
//   //   width: 150px; /* Circle size */
//   //   height: 150px;
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   object-fit: cover; /* keeps image centered and cropped */
//   border: 3px solid #eee;
// }

.circle-card {
  width: 100%;
  .card-title {
    color: #222;
    //   text-decoration: underline;
    //   text-underline-offset: 8px;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 2px;
  }
  .image-wrapper {
    position: relative;
    // width: 100%;
    // height: 100%;
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden; /* important to clip overlay inside circle */
    @media (max-width: $minSmall) {
      width: 200px;
      height: 200px;
    }
  }

  .circle-image {
    width: 100%;
    height: 100%;
    // border-radius: 50%;
    object-fit: cover;
  }

  /* Overlay Style */
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; /* hidden by default */
    transition: 0.3s ease-in-out; /* smooth fade */
  }

  .image-wrapper:hover .image-overlay {
    opacity: 1; /* show on hover */
  }

  .overlay-text {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }
}
