@import "../../../styles/variables";
.BookingConfirmation-Section {
  padding: 30px 0;
  text-align: left;
  .section-title {
    h2 {
      color: $heading-color;
      margin-bottom: 20px;
      text-decoration: underline;
    }
  }
}
.accordion {
  margin-bottom: 20px;
}
.accordion-button {
  background-color: $light-blue-color;
  border-color: $light-blue-color;
}

.tour-card {
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  text-align: left;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
  height: 100%; // ensures the height fits content
  max-height: 250px;
  .card-body {
    padding: 1.5rem;
  }
  .image-col {
    //width: 100%;
    height: 100%;
    img {
      // border-top-left-radius: 12px;
      // border-bottom-left-radius: 12px;
      // object-fit: cover;
      // height: 100%;
      width: 100%;
      height: 250px;
      //object-fit: cover;
      border-radius: 0 0;
    }
  }
  .card-text {
    font-size: 14px;
    color: $heading-color;
  }
  .rating {
    font-size: 1rem;
  }

  .action-icons {
    button {
      font-size: 0.9rem;
      // color: $secondary-color !important;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .details {
    p {
      margin-bottom: 0.25rem;
      font-size: 0.95rem;
      color: $heading-color !important;
    }
  }

  .icons {
    .badge {
      font-size: 0.8rem;
      display: inline-flex;
      align-items: center;
      padding: 0.4rem 0.6rem;
      border-radius: 10px;
    }
  }

  .price {
    color: $primary-color;
  }
}
