@import "../../styles/variables";
.cat_item {
  margin: 10px;
  border: 1px solid $secondary-color;
  border-radius: 50px;
  width: 200px;
  height: 40px;
  color: $secondary-color;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  line-height: 40px;
}
.filter-header {
  width: 100%;
  margin-bottom: 40px;
  padding: 0;
  background: $heading-color;
  min-height: 60px;
  border-radius: 6px;
  strong {
    color: #fff;
    padding: 21px 15px 0;
    float: left;
    font-weight: lighter;
  }
  li {
    padding: 0;
    width: 25%;
    margin-right: 15px;
    display: inline-block;
    @media screen and (max-width: 1024px) {
      width: 23%;
      margin-right: 8px;
    }
  }
  select {
    position: relative;
    min-width: 60px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 5px;
    float: left;
    color: #999;
    font-size: 14px;
    height: 35px;
    padding-left: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-position: right 10px center !important;
    background-image: url("../../imgs/angle-arrow-down.png") !important;
    background-repeat: no-repeat;
    border-radius: 6px;
    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }
    &:focus-visible,
    &:focus {
      outline: 0 !important;
      border: 0 !important;
    }
  }
}
// .trips_lst {
// }
.custom-card {
  border: none;
  overflow: hidden;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
  }
  .overlay-content {
    background: rgba(0, 0, 0, 0.4); // dark overlay for readability
    padding: 1rem;
  }

  .card-title {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;

    // underline
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 3px;
      background-color: $primary-color; // custom underline color
    }
  }
}

.left_filter {
  background-color: $light-blue-color;
  width: 100%;
  height: 100%;
  padding: 20px;
  .accordion {
    margin-bottom: 20px;
    .accordion-button {
      font-size: 18px;
      color: $secondary-color;
      font-weight: bold;
    }
  }
  .slider-val {
    border: 1px solid #eee;
    border-radius: 50px;
    padding: 5px 20px;
    margin: 20px 0;
  }
  .accordion-button:not(.collapsed) {
    background-color: white;
    color: $secondary-color;
    outline: 0;
  }
  .cat_check_item {
    text-align: left;
    font-size: 18px;
  }
  input {
    float: none;
    vertical-align: bottom;
  }
}

// .price_box {
//   background: $primary-color;
//   color: #fff;
//   padding: 12px 15px;
//   border-radius: 8px;
//   display: flex;
//   align-items: center;
//   gap: 5px;
//   margin-top: 20px;
//   font-size: 14px;
//   font-weight: 500;
// }
