@import "./variables";
.yellowBtn {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color: white !important;
}
.blueBtn {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  color: white !important;
}
.transBtn {
  background-color: transparent !important;
  border-color: $secondary-color !important;
  color: $secondary-color !important;
}
.FullWidthBtn {
  width: 100% !important;
  height: 50px !important;
  border-radius: 5px !important;
  margin: 20px 0 !important;
  border-width: 1px !important;
  font-size: 18px !important;
  @media only screen and (max-width: 900px) {
    font-size: 15px;
  }
}
.SmallWidthBtn {
  width: 200px;
  height: 50px !important;
  margin: 20px 0;
  border-width: 1px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  @media only screen and (max-width: 900px) {
    font-size: 15px !important;
    width: auto !important;
  }
}
.popUpBtn {
  width: 200px;
  height: 40px !important;
  margin: 30px 10px;
  border-width: 1px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  @media only screen and (max-width: 900px) {
    font-size: 15px !important;
    width: auto !important;
  }
}
.roundedBtn {
  border-radius: 50px !important;
}
.underline_btn {
  border: 0 !important;
  background-color: transparent !important;
  color: #222 !important;
  font-size: 18px !important;
  text-decoration: underline !important;
  width: 100%;
  text-align: right !important;
  margin-bottom: 10px;
}
.btn:disabled {
  cursor: not-allowed !important;
}
