//colors

$primary-color: #ff9d3d;
// $primary-color: #f16a5f;
$secondary-color: #015fc9;
$text-color: #82828a;
// $heading-color: #16243d;
$light-blue-color: #f1fafe;
$heading-color: rgb(27, 17, 92);

//mediaqueries
$maxMobile: 767px;
$minMedium: 992px;
$minSmall: 768px;
$mediumMedia: 1000px;
