@import "./variables";
* {
  font-family: "Tajawal", sans-serif, "Cairo" !important;
}
ul {
  list-style: none;
  padding: 0 !important;
  margin: 10px 0 !important;
}
hr {
  margin: 10px !important;
}
.formInput {
  width: 100%;
  height: 40px !important;
  border-radius: 5px;
  border-width: 1px;
  border-color: $primary-color !important;
  color: $primary-color;
  //margin-bottom: 10px;
  font-size: 14px !important;
}
.formLabel {
  font-size: 14px;
  color: #000;
  //margin: 10px 0;
}
.centerSection {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  // margin-top: 100px;
}
.logo_img {
  width: 200px;
  height: auto;
}
.centerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  div {
    margin: 20px 0;
  }
}
.alert-main {
  padding: 20px;
  border-radius: 6px;
  .alert-header {
    color: $primary-color;
  }
  .alert-button {
    width: 200px;
  }
}
.errorTxt {
  color: red !important;
}

.right {
  direction: rtl;
  text-align: right;
}
.left {
  direction: ltr;
  text-align: left;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
}
.marked {
  color: $secondary-color;
}
.inlineDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data_list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.flex_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//trip style
.star_icon {
  color: #f3cb47;
}
.star_rate {
  padding: 0 3px;
}
.divider {
  margin: 30px 0;
}

//booking style
.input-rounded {
  border-radius: 25px !important;
  padding-left: 1rem !important;
  // border: 1px solid #d1d1d1;
  height: 45px !important;
  font-size: 0.95rem !important;
  width: 100% !important;

  &::placeholder {
    color: #b0b0b0 !important;
  }

  &:focus {
    //border-color: #b0b0b0 !important;
    box-shadow: 0 0 0 0.1rem rgba(51, 102, 255, 0.25) !important;
  }
}
//booking & wish sections
.empty_cart {
  width: 300px;
  height: auto;
}

// .header_title_center {
//   max-width: 600px;
//   margin: 30px auto;
//   h2 {
//     text-align: center;

//     text-transform: uppercase;
//     font-size: 26px;
//     letter-spacing: 1px;

//     display: grid;
//     grid-template-columns: 1fr auto 1fr;
//     grid-template-rows: 16px 0;
//     grid-gap: 22px;
//     &:after,
//     &:before {
//       content: " ";
//       display: block;
//       border-bottom: 2px solid #ccc;
//       //background-color: #f8f8f8;
//     }
//   }
// }
.header_title_left {
  //max-width: 600px;
  //margin: 30px;
  position: relative;
  h2 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
    color: rgb(27, 17, 92);
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 2px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 5px;
      width: 55px;
      background-color: rgb(27, 17, 92);
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2px;
      height: 1px;
      width: 100%;
      max-width: 100%;
      background-color: rgb(27, 17, 92);
    }
  }
}
.header_title_center {
  max-width: 600px;
  margin: 30px auto;
  position: relative;
  h2 {
    text-align: center;
    color: #222;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 2px;
    //color: #c50000;
    &:after,
    &:before {
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 45px;
      height: 4px;
      content: "";
      right: 45px;
      margin: auto;
      background-color: #ccc;
    }
    &:before {
      background-color: $primary-color;
      left: 45px;
      width: 90px;
    }
  }
}

//carousel style
.react-multi-carousel-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

//global
.comming_img {
  width: 500px;
  height: auto;
}
