@import "../../styles/variables";
.contact-us-section {
  margin-top: 50px;
  padding: 20px;
  background-color: #ffffff;
  .form-control {
    height: 50px !important;
  }
  .contact-header {
    padding-top: 30px;
  }
  .content-section {
    // max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .contact-header {
    margin-bottom: 20px;
    text-align: start;
    text-align: left !important;

    h2 {
      font-size: 40px;
      color: $heading-color;
      font-weight: bold;
      margin-bottom: 10px;

      @media (max-width: 768px) {
        font-size: 40px;
        text-align: center;
      }
    }

    .subtitle {
      color: #816f8f;
      font-size: 18px;
      line-height: 35px;

      @media (max-width: 768px) {
        text-align: center;
        font-size: 16px;
      }
    }
    .sub_text {
      font-size: 14px;
      word-spacing: 1px;
      //letter-spacing: 2px;
    }
    .social-icons {
      margin-top: 40px;
      display: flex;
      gap: 24px;
      align-items: center;

      @media (max-width: 768px) {
        justify-content: center;
      }

      .icon {
        color: #ffffff;
        font-size: 18px;
        transition: color 0.3s;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }

  .contact-image {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      max-height: 400px;
    }
  }

  .contact-cards {
    // margin-top: 90px;
    text-align: center !important;
    .contact-card {
      text-align: center;
      border-radius: 24px;
      border: 1px solid transparent;
      background-color: #f7f7f7;
      padding: 20px;
      margin: 10px;
      height: 100%;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      }

      h5 {
        color: $heading-color;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      p {
        font-size: 18px;
        color: $heading-color;
        // line-height: 30px;
        margin-bottom: 10px;
      }

      .icon {
        font-size: 40px;
        color: $secondary-color;
        margin: 15px auto;
      }

      .btn {
        background-color: $primary-color;
        border-radius: 50px;
        border: 1px solid transparent;
        padding: 0.5rem 1.5rem;
        transition: background-color 0.3s;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .contact-cards {
    .col-lg-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media (max-width: 768px) {
  .contact-us-section {
    margin-top: 80px;
  }

  .contact-cards {
    .col-lg-4,
    .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .contact-header {
    h2 {
      font-size: 1.8rem !important;
    }

    p {
      font-size: 0.9rem !important;
    }
  }
}
