@import "../../styles/variables";
.landing_home {
  background-image: url("../../imgs/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 500px;
  max-height: 500px;
  width: 100%;
  padding: 5% 10%;
  text-align: left;
  .heading_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .main_title {
    z-index: 8;
    color: $heading-color;
    text-decoration: none;
    text-align: left;
    line-height: 70px;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 45px;
    visibility: visible;
  }
  .main_btn {
    background-color: $primary-color;
    border-radius: 50px;
    height: 50px;
    width: 200px;
    color: white;
    border: 0;
    letter-spacing: 0.5;
    display: block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;

    margin: 30px 0;
    &:hover,
    &:focus {
      background-color: $primary-color;
      outline: 0;
      border: 0;
    }
  }
}

.landing_about {
  padding: 50px 0;
  margin: 50px 0;
  .about_item {
    background-color: white;
    border-radius: 6px;
    padding: 50px;
    margin: 20px 0;
    width: 100%;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    svg {
      color: $primary-color;
      font-size: 50px;
      margin-bottom: 20px;
    }
    h4 {
      color: $secondary-color;
    }
  }
}
.header_title {
  // h2 {
  //   text-decoration: underline;
  //   text-underline-offset: 8px;
  // }
}
.carousel_item {
  margin: 0 10px;
  height: 100%;
}
.react-multiple-carousel__arrow--left {
  left: 0 !important;
}
.react-multiple-carousel__arrow--right {
  right: 0 !important;
}
// .home_Contact{
//     margin: 50px 0 0 0;
//     background-image: url("../../imgs/page-section-image.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     padding: 50px;
//     text-align: center;
//     p{
//         color: #777;
//         margin-bottom: 30px 0 0 0;
//     }
//     h3{
//         color: #222;
//         margin: 30px 0;
//         font-weight: bold;
//     }
//     .input-group{
//         height: 50px;

//         input{
//             background-color: white;
//             border: 0;
//         }
//         button{
//             background-color: $primary-color;
//             border: 0;
//             color: white;
//             &:hover,&:focus{
//                 background-color: $primary-color;
//                 border: 0;
//                 color: white;
//             }
//         }

//     }
// }
