@import "../../styles/variables";

.home_navbar {
  background-color: $secondary-color;
  border: 0;
  height: 70px;
  outline: 0;
  background-image: none;
  z-index: 1055;
  //position: fixed;
  width: 100%;
  //top: 0;
  .navbar-collapse {
    z-index: 1055;
    @media (max-width: 991px) {
      background-color: $secondary-color;
      border: 0; /* or your navbar bg */
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1055;
      padding: 1rem;
      text-align: left;
    }
    .nav_icon {
      @media (max-width: 991px) {
        display: inline-block;
        margin-top: 20px;
      }
    }
  }
  .logo {
    width: 160px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .nav-link,
  .navbar_item {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
  }

  .icon {
    font-size: 20px;
    color: white;
    transition: color 0.3s ease;
    vertical-align: bottom;
    &:hover {
      color: $primary-color;
    }
  }
  .tiket_icon {
    rotate: -45deg;
  }
  // Nav items
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: white !important;
    border-bottom-color: $primary-color;
  }

  .nav-items,
  .nav-icons {
    padding-top: 8px;
  }

  //   .nav-item {
  //     font-weight: 400 !important;
  //     font-size: 16px !important;
  //     color: #542d72 !important;
  //     margin-right: 15px !important;
  //     padding: 0.5rem 1rem !important;
  //     transition: color 0.3s ease;
  //     text-transform: uppercase;

  //     &:hover {
  //       color: #b181d6;
  //     }
  //   }
}
.trips_drop_menu {
  min-width: 180px !important;
  left: 100% !important;
  @media (max-width: 991px) {
    left: 0 !important;
  }
  transition: opacity 0.2s ease, transform 0.2s ease;
  .trip-item {
    font-size: 15px;
    svg {
      margin: 0 5px;
    }
  }
}
.dropstart .dropdown-toggle::before {
  display: none;
}
.trips_toggle {
  @media (max-width: 991px) {
    display: block !important;
  }
}
