@import "../../../styles/variables";
.trip_details {
  text-align: left;
  h2 {
    font-size: 50px;
    text-align: left;
    margin-bottom: 20px;
    color: $heading-color;
  }
  .trip_main_feature {
    background-color: $light-blue-color;
    width: 100%;
    height: 100px;
    margin: 20px 0;
    border-radius: 6px;
    padding: 10px 20px;
    text-align: left;
    p {
      margin: 8px 0;
      font-size: 18px;
    }
    .icon {
      color: $secondary-color;
      margin: 0 5px;
    }
  }
  .trip_items {
    text-align: left;
    p {
      color: #444;
      font-size: 18px;
    }
  }
}
.item_header {
  color: $heading-color;
  font-size: 30px;
  font-weight: bold;
}
//reviews section style//
.reviews-list {
  .review-card {
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    padding: 10px;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #f4d6d6;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      margin-right: 15px;
      font-size: 1rem;
    }

    .review-content {
      width: 100%;

      .review-header {
        margin-bottom: 5px;

        .rating-block {
          display: flex;
          align-items: center;
          gap: 6px;

          .rating-value {
            font-size: 1.1rem;
            font-weight: bold;
          }

          .stars {
            color: #f5a623;
            font-size: 0.95rem;
          }
        }

        .date {
          font-size: 0.8rem;
          color: #777;
        }
      }
      .review-name {
        margin: 0;
        font-weight: 600;
      }
    }
    .review-text {
      font-size: 0.9rem;
      line-height: 1.4;
      border-left: 1px solid #ddd;
      margin: 0 20px;
      padding: 0 10px;
      flex: 1;
      .read-more {
        font-size: 0.85rem;
        color: #007bff;
        cursor: pointer;
      }
    }
  }
}
