@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Tajawal", sans-serif, "Cairo" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
 font-family: "Tajawal", sans-serif, "Cairo" !important;
}
