@import "../../../styles/variables";
.types_section {
  background-color: #f7f7f7;
  padding: 40px 0;
  margin-top: 0 !important;
  .category-card {
    text-align: center !important;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 24px;
    padding: 20px;

    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    h5 {
      color: $heading-color;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      font-size: 18px;
      color: $heading-color;
      // line-height: 30px;
      margin-bottom: 10px;
    }

    .icon {
      font-size: 40px;
      color: $secondary-color;
      margin: 15px auto;
    }
  }
}
