@import "../../../styles/variables";
.myBooking-section {
  padding: 30px 0;
  .filter_panel {
    text-align: left;
    background-color: $light-blue-color;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
  }
  h2 {
    color: $heading-color;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
  }
}
