@import "../../../styles//variables";
.card_link {
  padding: 10px 0;
  display: block;
}
.card {
  height: 100%;
  text-align: left;
  padding: 10px 10px 0 10px;

  // border: 0;
  background-color: #f7f7f7;
  border-radius: 8px;
  background-color: white;
  transition: transform 0.2s ease;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  // .card-img-top {
  //   height: 200px;
  // }
  &:hover {
    transform: translateY(-5px);
  }
  .img-wrapper {
    position: relative;
    border-radius: 8px;
    img {
      display: block;
      width: 100%;
      height: 200px;
      border-radius: 8px;
    }

    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3); // dark overlay
      opacity: 0;
      transition: opacity 0.3s ease;
      display: flex;
      justify-content: flex-start;
      align-items: end;
      padding: 10px;
      border-radius: 8px;
      flex-direction: column;
      // .card-icon {
      //   font-size: 1.5rem;
      //   color: #fff;
      //   background-color: transparent;
      //   cursor: pointer;
      //   border: 0;
      //   display: block;
      //   transition: color 0.3s;
      //   .heart-icon {
      //     &:hover {
      //       color: #ff4d4d; // hover effect
      //     }
      //   }
      //   .book-icon {
      //     &:hover {
      //       color: $primary-color;
      //     }
      //   }
      // }
      // .liked {
      //   color: #ff4d4d !important;
      // }
    }

    &:hover {
      .img-overlay {
        opacity: 1; // show overlay on hover
      }
    }
  }
  .card-footer {
    background-color: transparent;
  }
  .location {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #6e6e6e;
    font-size: 14px;
    margin-bottom: 6px;
  }
  .card-title {
    color: $heading-color;
    font-weight: bold;
  }
  .card-text {
    color: $text-color;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price {
    color: $secondary-color;
    font-size: 20px;
    font-weight: bold;
    // padding: 0 3px;
  }
  .fac_list {
    .icon {
      color: $secondary-color;
    }
  }
}
